/* Embedded Fonts */
@font-face {
	font-family: 'martel light';
	src: url("../fonts/Martel-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'martel regular';
	src: url("../fonts/Martel-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'roboto';
	src: url("../fonts/roboto.woff") format("woff");
}


/* Container Items */
.header {
	width: 100vw;
	height: 100px;
	background: black;
	position: fixed;
	padding: 10px;
	overflow: hidden;
	z-index: 1;
}

.logoH {
	width: 200px;
	height: 100px;
	background: url("../images/Logo_white-Minneapolis.png") center;
	background-size: cover;
	position: absolute;
	overflow: hidden;
}

.options {
	width: 100px;
	height: 100px;
	background: url("../images/unnamed (2).png") center;
	background-size: cover;
	float: right;
}

.search {
	width: 75px;
	height: 100px;
	background: url("../images/search.png") center no-repeat;
	background-size: 75%;
	float: right;
}

.cover {
	width: 100vw;
	height: 100vh;
	background: url("../images/olivetrees.webp") center fixed no-repeat;
	background-size: cover;
}

.buttons {
	display: flex;
	margin-bottom: 30px;
	width: 1700px;
	margin: auto;
}

.buttons div {
	margin-right: 120px;
	margin-left: 90px;
}

.info_card {
	width: 362px;
	height: 272px;
	margin-top: 30px;
	background: url("../images/Social-Distancing-Circles-600x401.jpg") center;
	background-size: cover;
}


.info {
	font-family: 'roboto';
	font-size: 15px;
	color: #6b6b6b;
	letter-spacing: 0.1px;
	display: block;
	border: solid 2px #939393;
	width: 360px;
	height: 270px;
	line-height: 240px;
	text-align: center;
	text-decoration: none;
	opacity: 1;
	transition: 0.8s;
	background: rgba(255,255,255,1);
	position: relative;
}

.info:hover {
	color: white;
	background: rgba(255,255,255,0);
	transition: 0.8s;
}

.venue_card {
	width: 362px;
	height: 272px;
	margin-top: 30px;
	background: url("../images/download.jpg") center;
	background-size: cover;
}

.venue {
	font-family: 'roboto';
	font-size: 15px;
	color: #6b6b6b;
	letter-spacing: 0.1px;
	display: block;
	border: solid 2px #939393;
	width: 360px;
	height: 270px;
	line-height: 240px;
	text-align: center;
	text-decoration: none;
	opacity: 1;
	transition: 0.8s;
	background: rgba(255,255,255,1);
	position: relative;
}

.venue:hover {
	color: white;
	background: rgba(255,255,255,0);
	transition: 0.8s;
}

.shop_card {
	width: 362px;
	height: 272px;
	margin-top: 30px;
	background: url("../images/NinaW_ImmVanGogh_055-scaled.jpg") center;
	background-size: cover;
}

.shop {
	font-family: 'roboto';
	font-size: 15px;
	color: #6b6b6b;
	letter-spacing: 0.1px;
	display: block;
	border: solid 2px #939393;
	width: 360px;
	height: 270px;
	line-height: 240px;
	text-align: center;
	text-decoration: none;
	opacity: 1;
	transition: 0.8s;
	background: rgba(255,255,255,1);
	position: relative;
}

.shop:hover {
	color: white;
	background: rgba(255,255,255,0);
	transition: 0.8s;
}

.statistics {
	width: 100vw;
	height: 270px;
	background: url("../images/bg-white-texture.jpg") center no-repeat;
	background-size: cover;
	display: flex;

}

.feet {
	font-family: 'roboto';
	font-size: 30px;
	color: #6b6b6b;
	letter-spacing: 0.1px;
	display: inline-block;
	text-align: center;
	width: 360px;
	height: 180px;
	margin: auto;
	margin-top: 90px;
}

.frames {
	font-family: 'roboto';
	font-size: 30px;
	color: #6b6b6b;
	letter-spacing: 0.1px;
	display: inline-block;
	text-align: center;
	width: 360px;
	height: 180px;
	margin: auto;
	margin-top: 90px;
}

.pixels {
	font-family: 'roboto';
	font-size: 30px;
	color: #6b6b6b;
	letter-spacing: 0.1px;
	display: inline-block;
	text-align: center;
	width: 360px;
	height: 180px;
	margin: auto;
	margin-top: 90px;
}

.stool {
	width: 100vw;
	height: 1080px;
	background: url("../images/BACKGROUND1-1.jpg") fixed;
	background-size: cover;
	background-position: bottom;
	justify-content: center;
	padding-top: 200px;
}

.container {
	width: 100vw;
	height: 540px;
	background: url("../images/bg-blue (1).jpg") center;
	background-size: cover;
	display: flex;
	justify-content: center;
}

.signup {
	width: 1200px;
	height: 480px;
	background: url("../images/bg-newsletter-scaled-1 (1).jpg") center;
	background-size: cover;
	margin-top: 30px;
	text-align: center;
}

.beg {
	font-family: 'martel light';
	font-size: 45px;
	color: black;
	letter-spacing: 0.3px;
	text-align: center;
	margin-top: 60px;
}

.signup hr{
	width: 420px;
	height: 4px;
	margin: 15px auto;
	border: 0;
	background: #ffcc66;
}

.signup p{
	font-family: 'martel regular';
	font-size: 24px;
	line-height: 45px;
}

.signup input{
	border-radius: 4px;
	background-color: white;
	border: solid #ffcc66 2px;
	width: 30%;
	height: 45px;
	margin-bottom: 12px;
	box-sizing: border-box;
	font-size: 16px;
}

::placeholder{
	color: auto;
}

.signup button{
	border: 2px solid black;
	border-radius: 4px;
	height: 45px;
	background-color: transparent;
	color: black;
	padding: 0px 30px;
	cursor: pointer;
	transition: 0.5s;
	font-size: 16px;
	margin-bottom: 16px;
	margin-top: 20px;
}

.signup button:hover{
	background-color: #ffcc66;
	border-color: #ffcc66;
	transition: 0.2s;
}

.title {
	font-family: 'martel light';
	font-size: 3.6em;
	color: white;
	position: absolute;
	left: 42px;
	bottom: 200px;
	letter-spacing: 0.3px;
}

.footer {
	width: 100vw;
	height: 360px;
	bottom: 0px;
	background: black;
	padding: 10px;
	overflow: hidden;
	position: relative;
}

.lighthouse {
	width: 270px;
	height: 180px;
	background: url("../images/images.png") center;
	background-size: cover;
	position: absolute;
	left: 5%;
	bottom: 46%;
}

.vision {
	width: 175px;
	height: 175px;
	background: url("../images/visionieccentriche-logo-300x300.png") center;
	background-size: cover;
	position: absolute;
	left: 25%;
	bottom: 48%;
}

.canada {
	width: 600px;
	height: 60px;
	background: url("../images/Funded-by-the-Government-of-Canada-Bilingual-Logo-02-1100x128.webp") center;
	background-size: cover;
	position: absolute;
	left: 6%;
	bottom: 24%;
}

.copyright {
	left: 30%;
	right: 30%;
	bottom: 4%;
	width: 600px;
	height: 21px;
	background: url("../images/Screenshot 2024.pdf.png") center;
	background-size: cover;
	position: absolute;
	overflow: hidden;
}